body {
  background-color: #f6f7f9;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  margin-top: auto;
  align-items: end;
  justify-content: center
}

.title {
  padding-top: 1rem;
  padding-left: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#result {
  display: flex;
  position: absolute;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.item:hover {
  background-color: #778899;
  font-weight: 700;
}

#searchIcon {
  display: flex;
  justify-content: center;
}

#cityTitle {
  font-size: 2.5rem;
}

.main {
  padding-top: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherContainer {
  border: 1px solid black;
}

.weatherContainer > ul > li {
  font-size: 2rem;
}

#forecastContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.forecastDiv {
  border: 1px solid black;
}

.searchBarFormDiv {
  padding-right: 1.5rem;
  padding-top: 2rem;
}